
//----命名-------------------//
$style: 	亮色, 		暗色;

$_menuColor:   #155d90,  #171d1f;     //menu底色

$_mainColor:   #0093a0,	 #bc2769;   	//主色
$_subColor :   #754a96,	 #21baff;		//輔色
//-------------------------------------------顏色變數----//
$_blockColor:  #FFFFFF,	 #232628;     //區塊顏色
$_bgColor:	   #d9dce0,	 #0f1416;	   	//底色
$_wordColor:   #404e55,  #BBBBBB;		//文字顏色
$_headerColor: #FFFFFF,	 #171d1f;     //header底色

$_headingColor:#111,  #EEE;
$_aColor:      #6a4689,  #EEE;
$_aHover:      #8100cb,  #00beda;


$_thColor:	   #e4edef,  #404e55;


$_highlight:   #058dca,  #00f6ff;
$_line:  	   #DDD,     #333;
