//http://lab.25sprout.com/responsive_table/
table {
    width: 100%;
    border-collapse: collapse;
    font-size: .938em;
    color: #222;
    @include screen('xs_mobile') {
        width: 100%;
    }
    tr {
        transition: .3s ease-out;
        &:hover {
            color: #111;
        }
        ;
    }
    th,
    td {
        padding: .45em .5em;
        // text-align: left;
        text-align: center;
        &.main_data {
            text-align: center;
            @include screen('mobile') {
                max-width: 100%;
                min-width: 300px;
            }
        }
        &.text-left {
            text-align: left;
        }
        &.text-right {
            text-align: right;
        }
        &.last-child {
            min-width: 8em;
        }
        input[type="checkbox"] {
            // margin-top: 4px;
        }
        .pic {
            max-width: 80px;
            @include aspect-ratio(4, 3);
            position: relative;
            a {
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
            }
            img {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                object-fit: cover;
            }
        }
        &.hasInput {
            width: 3em;
        }

        // &.flex, .flex{
        //     border: 0;
        //     @extend %flex;
        //     justify-content: flex-start;
        //     align-items: baseline;

        //     input, select{
        //         width: auto;
        //         margin-right: .5em;
        //     }
        // }
    }
    td {
        border: #ebebeb 1px solid;
        word-break: break-all;
        border-left: none;
        border-right: none;
        // text-align: left;
        &.main_data {
            text-align: left;
            min-width: 10em;
            font-weight: bold;
            a {
                word-break: break-all;
                color: #1f72bb;
                display: block;
                font-size:1rem;
                &:hover, &:focus {
                    color: lighten(#1f72bb, 10);
                }
            }
        }
        &>.btn_round {
            padding: 0;
            width: 2.5em;
            height: 2.5em;
            border-radius: 50%;
            min-width: 2em;
            background: #FFF;
            position: relative;
            border: 1px solid #DDD;
            &:hover, &:focus {
                border: 1px solid $form-focus;
                background: #FFF;
                box-shadow: none;
                background: $form-focus;
                &:before {
                    border: 2px solid #FFF;
                    border-left: none;
                    border-top: none;
                }
                i {
                    filter: invert(100%);
                    span{
                    filter: invert(100%);
                }
                }
                span{
                    filter: invert(100%);
                }
            }
        }
        &>.btn-delete {

            &:hover, &:focus {
                color:#FFF;
                background:$color-red;
                border: 1px solid $color-red;
            }
        }
        &.num {
            text-align: center;
            width: 3em;
        }
        time {
            white-space: nowrap;
            font-size: .875rem;
        }
        span {
            display: inline-block;
            vertical-align: middle;
            border-radius: .2em;
            text-align: center;
            margin-right: .25em;
            font-size: .938rem;
            &.green {
                color: #FFF;
                margin: 0 .1em 0em;
                padding: .2em;
                min-width: 4em;
                white-space: nowrap;
                background:darken($color-green,5);
            }
            &.red {
                color: #FFF;
                margin: 0 .2em .2em;
                padding: .2em;
                min-width: 4em;
                white-space: nowrap;
                background:darken($color-red,10);
            }
            &.blue {
                color: #FFF;
                margin: 0 .2em .2em;
                padding: .2em;
                min-width: 4em;
                white-space: nowrap;
                background:darken($color-blue,10);
            }
            &.orange {
                color: #FFF;
                margin: 0 .2em .2em;
                padding: .2em;
                min-width: 4em;
                white-space: nowrap;
                background:lighten($color-orange,5);
            }
            &.gray {
                color: #FFF;
                margin: 0 .2em .2em;
                padding: .2em;
                min-width: 4em;
                white-space: nowrap;
                background:darken($color-gray, 10);
            }
        }
    }
    th {
        background-color: lighten($color-gray, 15);
        color: #111;
        text-align: center;
        white-space: nowrap;
        border-left: none;
        border-right: none;
        a {
            color: #111;
            i {
                opacity: .5;
                font-size: .8em;
                &:before {
                    top: -.2em;
                }
            }
            &:hover, &:focus {
                color: #333;
                i {
                    opacity: 1;
                }
            }
        }
        i {
            margin: 0 .05em;
            &:before {
                width: .75em !important;
                height: .75em !important;
            }
        }
    }
    &.table_hover {
        tr:hover {
            background: #FAFAFA;
        }
    }
    &.table_sprite {
        tr:nth-child(even) {
            background: #FAFAFA;
        }
    }
}
.table_list {
    @include screen('xs_mobile') {
        background-color: transparent !important; //Force table to not be like tables anymore
        thead,
        tbody,
        th,
        td,
        tr {
            display: block;
        }
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }
        tr {
            border: 1px solid #ccc;
            margin-bottom: 10px; // background-color: #333;
        }
        td {
            // Behave  like a "row"
            border: none !important;
            border-bottom: 1px solid #eee !important;
            position: relative;
            padding-left: 35% !important;
            white-space: normal;
            text-align: left;
            &:before {
                content: attr(data-title);
                position: absolute;
                top: .5em;
                left: .5em;
                width: 30%;
                padding-right: 10px;
                white-space: nowrap;
                text-align: left;
                font-weight: bold;
                color: #000;
            }
        }
    }
}
// fix_th_table
.fix_th_table {
    margin: 1em 0;
    @include screen('mobile') {
        position: relative;
        width: 100%;
        overflow: hidden !important;
    }
    table {
        @include screen('mobile') {
            display: block;
            width: 100%;
            // overflow:hidden;
            overflow-x: scroll;
            // -webkit-overflow-scrolling: touch;
            // -webkit-transform: translate3d(0, 0, 0);
            padding-bottom: 1em; //padding-bottom 是為預留水平捲軸的位置
        }
    }
    th,
    td {
        width: 10em;
        padding: .8em 0;
        text-align: center;
        line-height: 1.2;
        @include screen('mobile') {
            display: inline-block;
            margin-right: -6px;
            margin-left: 0;
            margin-top: -1px;
        }
    }
    th {
        &:first-child {
            width: 8em;
            white-space: normal;
            @include screen('mobile') {
                position: absolute !important;
                left: 0;
                top: auto;
            }
        }
    }
    tr {
        @include screen('mobile') {
            display: block;
            clear: both;
            white-space: nowrap;
            width: auto;
            padding-left: 8em;
            &:first-child {
                border-top: #ddd 1px solid;
            }
        }
    }
}
.table_wrapper {
    margin-bottom: 2em;

    &.th_left{
        th{
            width: 10%;
            text-align: left;
            border: solid 1px #ddd;
            white-space: normal;
        }
        td{
            text-align: left;

            table{
                margin: 10px 0;
                .functions{ text-align: right; }
                th{
                    width: auto;
                    min-width: 100px;
                }
            }
        }
    }

    @include screen('tablet') {
        width: 100%;
        display: block;
        @include clearfix;
        overflow-y: hidden;
        overflow-x: auto;
        padding-bottom: 1em;
        -webkit-overflow-scrolling: touch;
        -webkit-transform: translate3d(0, 0, 0);
        table {
            width: 100%;
            // display:none;
            min-width: 600px;
        }
    }
}
.scroltable {
    min-width: 600px !important;
}
.scroltable-wrapper {
    position: relative;
    -webkit-overflow-scrolling: touch;
    -webkit-transform: translate3d(0, 0, 0);
    overflow-y: hidden;
}
.scroltable-container {
    overflow: auto;
}
.scroltable-nav {
    display: none;
    position: absolute;
    width: 60px;
    height: 100%;
    cursor: pointer;
    z-index: 9;
}
.scroltable-nav.scroltable-nav-left {
    left: 0;
    @include gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0), horizontal);
    .tablearrow_left {
        position: fixed;
        left: 0em;
        top: 0em;
        display: none;
        z-index: 9;
        @include screen('mobile') {
            display: block;
        }
        &:before {
            position: absolute;
            top: 0em;
            left: -.2em;
            width: 30px;
            height: 30px;
            background: url(../vendor/scrolltable/images/arrow-left.png) no-repeat 10px center;
            content: "";
            z-index: 2;
            // animation: arrow_left .3s linear infinite alternate;
        }
    }
}
.scroltable-nav.scroltable-nav-right {
    right: 0;
    @include gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 1), horizontal);
    .tablearrow_right {
        position: fixed;
        top: 0em;
        right: 0em;
        display: none;
        z-index: 9;
        @include screen('mobile') {
            display: block;
        }
        &:before {
            position: absolute;
            top: 0em;
            right: -.2em;
            width: 30px;
            height: 30px;
            background: url(../vendor/scrolltable/images/arrow-right.png) no-repeat right 10px center;
            content: "";
            z-index: 2;
        }
    }
}
@keyframes arrow_left {
    from {
        left: -.2em;
    }
    to {
        left: .3em;
    }
}
@keyframes arrow_right {
    from {
        right: -.2em;
    }
    to {
        right: .3em;
    }
}
