header {
    position: fixed;
    width: 100%;
    transform: translateZ(0);
    height: 4em;
    // background: $primaryColor;
    background: rgba(255,255,255,.85);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 0px 3px 21px -17px rgba(0, 0, 0, 1);
    padding: 0em 1em;
    z-index: 9999;
    top: 0;
    left: 0;
    // transition: .3s ease-out;
    transition: 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);
    // @media screen and (max-width: 1440px) {
    //     padding: 0em 0 0em 13em;
    // }
    // &.full {
    //     // padding: 0em 0 0em 3.5em;
    //     .toggle_menu_btn {
    //         // &:before {
    //         //     transform: rotate(45deg);
    //         //     left: 1.25em;
    //         // }
    //     }
    // }
    @media screen and (max-width: 1480px) {
        height: 7.4em;
    }
    @include screen('tablet') {
        padding: 0 0;
        height: 4em;
        // &.full {
        //     padding: 0 0 0 0em;
        // }
    }
    // mobile btn for extend
    %mobileCtrlBtn {
        width: 60px !important;
        height: 60px !important;
        position: absolute;
        top: 0px;
        display: block;
        font-size: 0em;
        padding: 15px;
        margin: 0;
        min-width: auto;
        min-height: auto;
        background: transparent;
        border: none;
        box-shadow: none;
        @include box-sizing;
        @include screen('tablet') {
            display: block !important;
        }
    }
    .container {
        max-width: 100%;
        display: flex;
        flex-flow: row nowrap;

        // max-width: 100%;
        // overflow: visible;
        // position: relative; // menu
        .sidebarCtrl {
            display: none;
            left: 0px;
            @extend %mobileCtrlBtn;
            span {
                position: absolute;
                // background: $primaryColor;
                background: #222;
                width: 50%;
                height: 4px;
                top: 35%;
                left: 50%;
                margin-left: -25%;
                display: block;
                &:nth-child(2) {
                    top: 50%;
                }
                &:nth-child(3) {
                    top: 65%;
                }
            }
        }
        @media screen and (max-width: 1480px) {
            flex-flow: column wrap;
        }
    }
    .toggle_menu_btn {
        position: absolute;
        width: 4em;
        height: 4em;
        // top: 64px;
        top: 0;
        left: -1em;
        padding: 1em;
        z-index: 9;
        background: #F1F1F1;
        box-shadow: 0 2px 5px -1px rgba(0,0,0,.25);

        &:hover, &:focus {
            &:after {
                background: darken($secondaryColor, 0);
            }
            &:before {
                border: 3px solid #FFF;
                border-left: none;
                border-bottom: none;
                opacity: 1;
                @include screen('tablet') {
                    width: 2em;
                    left: 1em;
                    height: .5em;
                    top: 1.6em;
                    transform: rotate(0deg);
                    border: 2px solid #FFF;
                    border-left: none;
                    border-right: none;
                }
            }
        }
        &:before {
            position: absolute;
            border: 3px solid #444;
            border-left: none;
            border-bottom: none;
            transform: rotate(-135deg);
            content: "";
            width: .75em;
            height: .75em;
            left: 1.25em;
            top: 1.5em;
            left: 1.65em;
            z-index: 1;
            opacity: .5;
        }

        // display: none;  //桌機版、先隱藏

        @include screen('tablet') {
            display: block;
            top: 0;
            left: 0;
            &:before {
                width: 2em;
                left: 1em;
                height: .5em;
                top: 1.6em;
                transform: rotate(0deg);
                border: 2px solid #444;
                border-left: none;
                border-right: none;
            }
        }
        &:after {
            position: absolute;
            transition: .3s ease-out;
            position: absolute;
            width: 100%;
            height: 100%;
            background: #F1F1F1;
            content: "";
            top: 0;
            left: 0;
        }
        span {
            width: 100%;
            height: 2px;
            background: #999;
            display: block;
            margin-bottom: .25em;
            position: relative;
            z-index: 9;
        }
    }
    h1 {
        float: left;
        margin: 0;
        margin-right: .75em;
        // margin-left: 64px;
        a {
            display: inline-block;
            height: 64px;
            // color: $headingColor;
            // font-size: 1.5rem;
            // @include screen('tablet') {
            //     font-size: 1.25rem;
            // }
            // &:hover, &:focus {
            //     color: lighten($headingColor, 10);
            // }
        }
        img {
            height: 100%;
            // width: 3rem;
            // display: inline-block;
            vertical-align: middle;
            // margin-right: .25em;
        }
        // span {
        //     display: inline-block;
        //     vertical-align: middle;
        // }

        @include screen('tablet') {
            float: none;
            display: block;
            text-align: center;
            margin: auto;
            width: 60%;
            height: 64px;
            a{
                display: block;
                height: 100%;
                img{
                    max-width: 100%;
                    height: auto;
                    max-height: 64px;
                }
            }
        }
        @include screen('xs_mobile') {
            a{
                position: relative;
                img{
                    position: absolute;
                    left: 50%;
                    margin-left: -50%;  
                    top: 50%;
                    margin-top: -8%;
                }
            }
        }
    }
    .control_panel {
        position: absolute;
        // min-width: 10em;
        right: .5em;
        margin-top: .5em;
        padding: .5em;
        font-size: 1em;
        text-align: right;
        
        .item {
            display: inline-block;
            vertical-align: middle;
            width: 2em;
            height: 2em;
            margin: 0 .4em;
            &.alert {
                border-radius: 50%;
                background: #EEE;
                position: relative;
                a {
                    display: block;
                }
                span {
                    min-width: 1.25rem;
                    height: 1.25rem;
                    background: #fc423a;
                    color: #FFF;
                    text-align: center;
                    display: block;
                    position: absolute;
                    top: -.5em;
                    right: -1em;
                    font-size: .75rem;
                    line-height: 1.25rem;
                    border-radius: .625em;
                    font-weight: bold;
                    padding-left: .25em;
                    padding-right: .25em;
                }
                img {
                    width: 70%;
                    margin: 15%;
                }
            }
            &.account {
                &>a {
                    width: 100%;
                    height: 100%;
                    display: block;
                    border-radius: 50%;
                    overflow: hidden;
                    background: #179e27;
                }
            }
        }

        @include screen('tablet') {
            right: 0;
            top: 0;
            .item {}
        }
    }
    .control_panel {
        .dropdown {
            .dropdown-btn {
                position: relative;
                transition: .3s ease-out;
                &:hover, &:focus {
                    background: $aHover;
                    img {
                        opacity: 1;
                    }
                }
                img {
                    width: 1.25em;
                    margin: 0 auto;
                    left: 50%;
                    top: .35em;
                    margin-left: -.6em;
                    position: absolute;
                    // opacity: .75;
                    filter: invert(100%);
                }
            }
            .dropdown-content {
                width: 280px !important;
                left: auto !important;
                right: 0em !important;
                ul {
                    li {
                        font-size: 1rem;
                        text-align: left;
                    }
                    margin-bottom: 2em;
                    border-bottom:1px solid #DEDEDE;
                }
                .btn-grp {
                    display: flex;
                    justify-content: flex-end;
                    button {
                        flex: 1 1 30%;
                        padding: .5em 1em;
                        margin: 0 .5em .5em;
                    }
                    .btn-red {
                        background: $color-red;
                        color: #FFF;
                        border: 1px solid $color-red;
                        &:hover, &:focus {
                            background: $color-red;
                            outline: none;
                            border: 1px solid $color-red !important;
                        }
                    }
                }
            }
        }
    }
}
